<h1><%= @app.name %></h1>
<h2><%= @app.url %></h2>
<%= link_to 'Back to the rest of your apps', registered_applications_path %>

<% @events.each do |event, count| %>

        <div class="event">
            <h2><%= event %> | Count: <%= count.length %></h2>
        </div>
<% end %>
<div class="event">
    <%= pie_chart @app.events.group(:name).count %>
</div>
<div>
    <%= line_chart @app.events.group_by_day(:created_at).count %>
</div>